.popup-close-btn{
    position: absolute; 
    top: 6px; 
    right: 9px;
    cursor: pointer;
}
input.did-floating-input.brder-color-grey {
    border: 1px solid #ced4da !important;
    height: 47px !important;
    margin-top: 10px;
}

.did-floating-input,
.did-floating-select {
    font-size: 13px;
    display: block;
    width: 100%;
    height: 45px !important;
    padding: 0 20px;
    background: #fff;
    color: #000000;
    border: 1px solid #72777d;
    box-sizing: border-box;
    /* font-weight: 600; */
    text-align: left;
}
#ship-country {
    border: 1px solid #ced4da !important;
    height: 45px !important;
    margin-top: 10px;
}
select#State {
    border: 1px solid #ced4da !important;
    height: 45px !important;
    margin-top: 10px;
}
.head-main {
    display: inline-block;
    width: 100%;
    padding: 0px 0px 0px 0px !important;
    border-bottom: 1px solid #d5dfe4;
    margin-bottom: 0px !important;
    position: relative;
}
.mat-mdc-dialog-content{
    max-height: none !important;
}