<!-- <h1 mat-dialog-title>Select Address</h1> -->
<div mat-dialog-content>
    <span mat-icon-button class="close-button popup-close-btn" mat-dialog-close>
        <i class="fa fa-times fa-lg"></i>
    </span>

    <div>
        <section class="section-box shop-template mt-60">
            <div class="head-main bd-gray-200">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <h1 class="head-text color-gray-900">Shipping Address</h1>
                    </div>
                    <div class="col-md-12">
                        <label class="text-danger">All fields marked with an asterisk (*) must be completed</label>
                    </div>
                    <div class="row" *ngIf="isDuplicate">
                        <div class="col-md-12 contact-title">
                            <label class="mbottom20 color-red">Ship Id already exist</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="row" *ngIf="isDuplicate">
                    <div class="col-md-12 contact-title">
                        <label class="mbottom20 color-red">Ship Id already exist</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label class="mb-5 font-sm color-gray-700">Same As Billing</label>
                            <div class="did-floating-label-content mb-0">
                                <input type="checkbox" class="mr-10" name="Same As Billing" value="Same As Billing" [(ngModel)]="isChecked" (change)="CopyBillingAddress()" />
                                <span class="font-md color-brand-3">Same As Billing</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-register align-flex">
                        <!-- <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label class="mb-5 font-sm color-gray-700">Ship ID <span>*</span></label>
                                <div class="did-floating-label-content mb-0">
                                    <input type="text" class="did-floating-input brder-color-grey"
                                        *ngIf="shipid==undefined || shipid==null || shipid==''" [maxlength]="10"
                                        #ShipID="ngModel" id="shippingShipID" [(ngModel)]="shipping.ShipID"
                                        name="ShipID">
                                    <input type="text" class="did-floating-input brder-color-grey" disabled
                                        *ngIf="shipid!=undefined && shipid!=null && shipid!=''" [maxlength]="10"
                                        #ShipID="ngModel" [(ngModel)]="shipping.ShipID" name="ShipID">
                                    <label class="did-floating-label">Ship ID <span>*</span></label>
                                    <div class="invalid-feedback">Ship ID cannot be blank.</div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label class="mb-5 font-sm color-gray-700">Comapny Name <span>*</span></label>
                                <div class="did-floating-label-content mb-0">
                                    <input type="text" class="did-floating-input brder-color-grey" #Name="ngModel"
                                        [maxlength]="40" id="shippingName" [(ngModel)]="shipping.Name" name="Name">
                                    <label class="did-floating-label">Comapny Name <span>*</span></label>
                                    <div class="invalid-feedback">Comapny Name cannot be blank.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label class="mb-5 font-sm color-gray-700">Attention Name</label>
                                <div class="did-floating-label-content mb-0">
                                    <input type="text" class="did-floating-input brder-color-grey" #Name="ngModel"
                                        [maxlength]="40" id="shippingatn" [(ngModel)]="shipping.atn" name="atn">
                                    <label class="did-floating-label">Attention Name</label>
                                    <div class="invalid-feedback">Attention Name cannot be blank.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" *ngIf="isaddressparse=='1'">
                            <div class="form-group align-flex">
                                <div class="col-md-10">
                                    <label class="mb-5 font-sm color-gray-700">Please Copy your address here</label>
                                    <div class="did-floating-label-content mb-0">
                                        <textarea class="did-floating-input brder-color-grey" id="addressparser"
                                            [maxlength]="32000" [(ngModel)]='shipping.addressparser'
                                            (change)="addreparser()" [ngModelOptions]="{standalone:true}"></textarea>
                                        <label class="did-floating-label">Please Copy your address here</label>
                                    </div>
                                </div>
                                <div class="col-md-2 text-end">
                                    <a class="btn btn-buy mr-15 w-auto mb-10 btnparse" (click)="addreparser()">Parse</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label class="mb-5 font-sm color-gray-700">Address 1 <span>*</span></label>
                                <div class="did-floating-label-content mb-0">
                                    <input type="text" class="did-floating-input brder-color-grey" #Addr1="ngModel"
                                        [maxlength]=addr1val [(ngModel)]="shipping.Addr1" name="Addr1" id="Address1">
                                    <label class="did-floating-label">Address 1 <span>*</span></label>
                                    <div class="invalid-feedback">Address 1 cannot be blank.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label class="mb-5 font-sm color-gray-700">Address 2</label>
                                <div class="did-floating-label-content mb-0">
                                    <input type="text" class="did-floating-input brder-color-grey" #Addr2="ngModel"
                                        [maxlength]=addr2val [(ngModel)]="shipping.Addr2" name="Addr2" id="Address1">
                                    <label class="did-floating-label">Address 2</label>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label class="mb-5 font-sm color-gray-700">Country <span>*</span></label>
                                <div class="did-floating-label-content mb-0">
                                    <select id="ship-country" [ngModelOptions]="{standalone:true}"
                                        [(ngModel)]='shipping.selectedCountry' (change)="shipCountryChange()"
                                        class="did-floating-input brder-color-grey">
                                        <option *ngFor="let country of countryList" [value]="country.country_code">
                                            {{country.country_descr}}
                                        </option>
                                    </select>
                                    <label class="did-floating-label">Country <span>*</span></label>
                                    <div class="invalid-feedback">Country cannot be blank.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label class="mb-5 font-sm color-gray-700">State <span>*</span></label>
                                <div class="did-floating-label-content mb-0">
                                    <select *ngIf="isstateshow==true" class="did-floating-input brder-color-grey"
                                        [ngModelOptions]="{standalone:true}" [(ngModel)]='shipping.selectedState'
                                        id="State">
                                        <option value="0">Select State</option>
                                        <option *ngFor="let state of stateList" [value]="state.state">
                                            {{state.descr}}
                                        </option>
                                    </select>
                                    <input *ngIf="isstateshow==false" type="text"
                                        class="did-floating-input brder-color-grey" #State="ngModel"
                                        [(ngModel)]="shipping.selectedState" name="State" id="State">
                                    <label class="did-floating-label">State <span>*</span></label>
                                    <div class="invalid-feedback">State cannot be blank.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label class="mb-5 font-sm color-gray-700">City <span>*</span></label>
                                <div class="did-floating-label-content mb-0">
                                    <input type="text" class="did-floating-input brder-color-grey" [maxlength]=cityval
                                        #City="ngModel" [(ngModel)]="shipping.City" name="City" id="City">
                                    <label class="did-floating-label">City <span>*</span></label>
                                    <div class="invalid-feedback">City cannot be blank.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label class="mb-5 font-sm color-gray-700">Postal Code <span>*</span></label>
                                <div class="did-floating-label-content mb-0">

                                    <input type="text" (blur)="togglePostalCodeFlag()"
                                        class="did-floating-input brder-color-grey" #PostalCode="ngModel"
                                        [maxlength]="20" [(ngModel)]="shipping.PostalCode" name="PostalCode"
                                        id="PostalCode">
                                    <label class="did-floating-label">Postal Code <span>*</span></label>
                                    <div class="invalid-feedback">Postal Code cannot be blank.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label class="mb-5 font-sm color-gray-700">Phone</label>
                                <div class="did-floating-label-content mb-0">
                                    <input type="text" class="did-floating-input brder-color-grey" #Phone="ngModel"
                                        [maxlength]=phoneval id="shippingPhone" [(ngModel)]="shipping.Phone"
                                        name="Phone" maxlength="10">
                                    <label class="did-floating-label">Phone</label>

                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label class="mb-5 font-sm color-gray-700">Phone Ext </label>
                                <div class="did-floating-label-content mb-0">
                                    <input type="text" class="did-floating-input brder-color-grey" #PhoneExt="ngModel"
                                        [maxlength]="6" [(ngModel)]="shipping.PhoneExt" name="PhoneExt" maxlength="10">
                                    <label class="did-floating-label">Phone Ext </label>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label class="mb-5 font-sm color-gray-700">Fax </label>
                                <div class="did-floating-label-content mb-0">
                                    <input type="text" class="did-floating-input brder-color-grey" #Fax="ngModel"
                                        [maxlength]=phoneval [(ngModel)]="shipping.Fax" name="Fax">
                                    <label class="did-floating-label">Fax </label>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            
                        </div>
                        <div class="col-md-12" style="text-align: right;">
                            <button type="submit" class="btn btn-buy mr-15 w-auto mb-10"
                                (click)="onSubmit()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>