<!-- <ngx-loading [show]="loading"></ngx-loading> -->
<app-header></app-header>
<div style="min-height:800px;">
    <!-- [config]="{animationType: ngxLoadingAnimationTypes.circleSwish, primaryColour: primaryColour, backdropBorderRadius: '3px'} [template]="loadingTemplate"" -->
    <div class="body-content outer-top-xs" id="top-banner-and-menu">
        <!-- [ngClass]="{'container-fluid': url=='/home','container': url!='/home'}" -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 sidebar" *ngIf="isaccesswithlogin=='1'">
                    <!-- col-xs-12 col-sm-12 col-md-3 sidebar -->
                    <app-side-menu></app-side-menu>
                </div>
                <!--  -->
                <div class="bgwhite" [ngClass]="{'col-md-12 col-12 col-xs-12 col-sm-12': isaccesswithlogin=='0','col-md-10 col-lg-10 col-xl-10 col-xxl-10': isaccesswithlogin=='1'}">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- *ngIf="url !== '/404'" -->
<app-footer></app-footer>