<div class="section-box posi-absolute">
    <div class="breadcrumbs-div">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li><a class="font-xs color-gray-1000" href="home">Home</a></li>
                <li><a class="font-xs color-gray-500" href="create-account">Registration</a></li>
            </ul>
        </div>
    </div>
</div>
<section class="section-box shop-template mt-60">
    <!-- <div class="container"> -->
    <div class="head-main mt-30" style="border-bottom: none;">
        <div class="row padding-lr-80">
            <div class="col-md-12">
                <h1 class="head-text">{{RegistrationLable}}</h1>
                <p class="text-danger">All fields marked with an asterisk (*) must be completed</p>
            </div>
        </div>
    </div>
    <div *ngIf="isShowMsg" class="col-md-12 b2bmsg">
      <h5> {{returnmsg}} &nbsp; 
          <a *ngIf="isShowMsg1" [routerLink]="['/login']" class="greencolor">Go to Login</a>
      </h5>
  </div>
    <div class="row mb-100 padding-lr-80">
        <!-- <div class="col-lg-12"> -->
        <form *ngIf="isShowForm" (ngSubmit)="OnSubmit(registerForm)" class="requires-validation">
            <div class="form-register align-flex justify-content-start align-items-baseline">
                <!-- <div class="row"> -->
                <div class="col-12 col-md-4 d-flex mb-30">
                    <!-- <div class="form-group"> -->
                    <label class="mb-5">Are you an existing krayden Customer?</label>
                    <div class="did-floating-label-content mb-0 ml-15">
                        <input class="checkagree" type="checkbox" #iscustomer="ngModel" [(ngModel)]="user.iscustomer" name="iscustomer">
                        <!-- <label class="did-floating-label ml-15" id="top-res">No</label> -->
                    </div>

                </div>
                <!-- <div class="col-md-2">
                    
                  </div>
                  <div class="col-md-2">
                    <div class="did-floating-label-content mb-0">
                      <input class="checkagree" type="radio" #iscustomer="ngModel" [(ngModel)]="user.iscustomer" name="iscustomer">
                      <label class="did-floating-label ml-15" id="top-res">Yes</label>
                      </div>
                  </div> -->
                <div class="col-12 col-md-4 offset-md-4">
                    <div class="form-group" *ngIf="user.iscustomer">
                        <label class="mb-5 font-sm color-gray-700">Customer ID</label><span class="displaynone">*</span>
                        <div class="did-floating-label-content mb-0">
                            <input class="did-floating-input brder-color-grey" type="text" autocomplete="off" (blur)="checkcustomer()" [maxlength]=40 #customerid="ngModel" id="customerid" [(ngModel)]="user.customerid" name="customerid" required>
                            <label class="did-floating-label">Customer ID<span>*</span></label>
                            <div *ngIf="iscustomeridValidation" class="invalid-feedback">Customer ID cannot be blank.</div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                <br />
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="mb-5 font-sm color-gray-700">First Name</label><span class="displaynone">*</span>
                        <div class="did-floating-label-content mb-0">
                            <input class="did-floating-input brder-color-grey" type="text" autocomplete="off" [maxlength]=15 #FirstName="ngModel" id="userFirstName" [(ngModel)]="user.FirstName" name="FirstName" required>
                            <label class="did-floating-label">First Name <span>*</span></label>
                            <div *ngIf="isFirstValidation" class="invalid-feedback">Firsts Name cannot be blank.</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="mb-5 font-sm color-gray-700">Last Name</label><span class="displaynone">*</span>
                        <div class="did-floating-label-content mb-0">
                            <input class="did-floating-input brder-color-grey" type="text" autocomplete="off" [maxlength]=15 #LastName="ngModel" id="userLastName" [(ngModel)]="user.LastName" name="LastName" required>
                            <label class="did-floating-label">Last Name <span>*</span></label>
                            <div *ngIf="isLastValidation" class="invalid-feedback">Last Name cannot be blank.</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="mb-5 font-sm color-gray-700">Email Address</label><span class="displaynone">*</span>
                        <div class="did-floating-label-content mb-0">
                            <input class="did-floating-input brder-color-grey" type="text" autocomplete="off" [maxlength]=100 (blur)="checkemail()" #EmailAddress="ngModel" id="userEmailAddress" [(ngModel)]="user.EmailAddress" name="EmailAddress" required>
                            <label class="did-floating-label">Email Address <span>*</span></label>
                            <div class="invalid-feedback" *ngIf="isEmailrCodeValidation">Email Address cannot be blank.</div>
                            <div class="invalid-feedback" *ngIf="isEmailValidation">Email Address is not Valid.</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">

                    <div class="form-group">
                        <table id="passwordtable" width="98%" class="text-center">
                            <tr>
                                <td>
                                    <!-- <div class="form-group "> -->
                                    <label class="mb-5 font-sm color-gray-700">Password</label><span class="displaynone">*</span>
                                    <div class="did-floating-label-content mb-0 pr-0">
                                        <input [type]="hide ? 'password' : 'text'" autocomplete="off" class="did-floating-input brder-color-grey mt-0" [maxlength]=20 #Password="ngModel" id="userPassword" [(ngModel)]="user.Password" name="Password" required>
                                        <label class="did-floating-label">Password <span>*</span></label>
                                        <div class="invalid-feedback" *ngIf="isPasswordCodeValidation">Password cannot be blank.</div>
                                    </div>
                                    <!-- </div> -->
                                </td>
                                <td class="bg-19" style="text-align: center;vertical-align: middle;">
                                    <i class="fa fa-eye" style="font-size: 16px;" (click)="hide = !hide" *ngIf="!hide" aria-hidden="true"></i>
                                    <i class="fa fa-eye-slash" style="font-size: 16px;" (click)="hide = !hide" *ngIf="hide" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <table id="passwordtable" width="98%" class="text-center">
                            <tr>
                                <td>
                                    <!-- <div class="form-group"> -->
                                    <label class="mb-5 font-sm color-gray-700">Confirm Password</label><span class="displaynone">*</span>
                                    <div class="did-floating-label-content mb-0 pr-0">
                                        <input [type]="hide1 ? 'password' : 'text'" autocomplete="off" class="did-floating-input brder-color-grey mt-0" [maxlength]=20 #ConfirmPassword="ngModel" id="userConfirmPassword" [(ngModel)]="user.ConfirmPassword" name="ConfirmPassword" required validateEqual="Password"
                                            reverse="false">
                                        <label class="did-floating-label">Confirm Password <span>*</span></label>
                                        <div class="invalid-feedback" *ngIf="confirmPass">Password mismatch</div>
                                        <!-- </div> -->
                                    </div>
                                </td>
                                <td class="bg-19" style="text-align: center;vertical-align: middle;">
                                    <i class="fa fa-eye" style="font-size: 16px;" (click)="hide1 = !hide1" *ngIf="!hide1" aria-hidden="true"></i>
                                    <i class="fa fa-eye-slash" style="font-size: 16px;" (click)="hide1 = !hide1" *ngIf="hide1" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="mb-5 font-sm color-gray-700">Phone</label><span class="displaynone">*</span>
                        <div class="did-floating-label-content mb-0">
                            <input class="did-floating-input brder-color-grey" type="text" [maxlength]=phoneval #Phone="ngModel" id="userPhone" [(ngModel)]="user.Phone" name="Phone" maxlength=10 required>
                            <label class="did-floating-label">Phone <span>*</span></label>
                            <div class="invalid-feedback" *ngIf="isPhoneValidation">Phone cannot be blank.</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="mb-5 font-sm color-gray-700">Company Name </label><span class="displaynone">*</span>

                        <div class="did-floating-label-content mb-0">
                            <input class="did-floating-input brder-color-grey" type="text" autocomplete="off" [maxlength]=35 #Company="ngModel" id="userCompany" [(ngModel)]="user.Company" name="Company" required>
                            <label class="did-floating-label">Company Name <span>*</span></label>

                            <div class="invalid-feedback" *ngIf="isCompanyValidation">Company Name cannot be blank.</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                      <label class="mb-5 font-sm color-gray-700">Address Line 1 *</label>

                      <div class="did-floating-label-content mb-0">
                          <input class="did-floating-input brder-color-grey" type="text" id="Address1" autocomplete="off" [maxlength]=40 #Address1="ngModel" [(ngModel)]="user.Address1" name="Address1" required>
                          <label class="did-floating-label">Address Line 1 *</label>
                          <div *ngIf="isAddressValidation" class="invalid-feedback">Address Line 1 cannot be blank.</div>
                      </div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                      <label class="mb-5 font-sm color-gray-700">Address Line 2</label>
                      <div class="did-floating-label-content mb-0">
                          <input class="did-floating-input brder-color-grey" type="text" autocomplete="off" [maxlength]=40 #Address2="ngModel" [(ngModel)]="user.Address2" name="Address2" id="Address2" required>
                          <label class="did-floating-label">Address Line 2</label>
                      </div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="mb-5 font-sm color-gray-700">Country</label><span class="displaynone">*</span>
                        <div class="did-floating-label-content pr-10">
                            <select class="did-floating-select" disabled="true" [ngModelOptions]="{standalone:true}" [(ngModel)]='user.selectedCountry' (change)="onCountryChange($event.target.value)">
                      <option *ngFor="let country of countryList" [value]="country.country_code">
                        {{country.country_descr}}
                      </option>
                      </select>
                            <label class="did-floating-label">Country <span>*</span></label>
                            <div class="invalid-feedback">Country cannot be blank.</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                      <label class="mb-5 font-sm color-gray-700">State</label><span class="displaynone">*</span>
                      <div class="did-floating-label-content pr-10">
                        <select class="did-floating-select" *ngIf="isstateshow==true" (change)="onStateChange($event.target.value)" [ngModelOptions]="{standalone:true}" [(ngModel)]='user.selectedState' id="State">
                        <option value="0">Select State</option>
                        <option *ngFor="let state of stateList" [value]="state.state">
                          {{state.descr}}
                        </option>
                        </select>
                            <input class="did-floating-input brder-color-grey" type="text" *ngIf="isstateshow==false" autocomplete="off" #selectedState="ngModel" [(ngModel)]="user.selectedState" name="selectedState">
                            <label class="did-floating-label">State <span>*</span></label>
                            <div *ngIf="isStateValidation" class="invalid-feedback">State cannot be blank.</div>
                      </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                      <label class="mb-5 font-sm color-gray-700">City</label><span class="displaynone">*</span>
                      <div class="did-floating-label-content mb-0">
                          <input class="did-floating-input brder-color-grey" type="text" autocomplete="off" [maxlength]=30 #City="ngModel" [(ngModel)]="user.City" name="City" id="City" required>
                          <label class="did-floating-label">City <span>*</span></label>
                          <div *ngIf="isCityValidation" class="invalid-feedback">City cannot be blank.</div>
                      </div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="mb-5 font-sm color-gray-700">Postal Code</label><span class="displaynone">*</span>
                        <div class="did-floating-label-content mb-0">
                            <input (blur)="togglePostalCodeFlag()" class="did-floating-input brder-color-grey" type="text" autocomplete="off" [maxlength]=20 #PostalCode="ngModel" [(ngModel)]="user.PostalCode" id="PostalCode" name="PostalCode" required>
                            <label class="did-floating-label">Postal Code <span>*</span></label>
                            <div *ngIf="isPostalCodeValidation" class="invalid-feedback">Postal Code cannot be blank.</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12 col-md-4">
                  <div class="form-group">
                      <label class="mb-5 font-sm color-gray-700">Company Phone *</label>
                      <div class="did-floating-label-content mb-0">
                          <input class="did-floating-input brder-color-grey" type="text" autocomplete="off" #companyphone="ngModel" id="companyphone" [(ngModel)]="user.companyphone" name="companyphone" maxlength="10">
                          <label class="did-floating-label">Company Phone <span>*</span></label>
                          <div *ngIf="iscompanyphoneValidation" class="invalid-feedback">Company Phone cannot be blank.</div>
                      </div>
                  </div>
              </div> -->
                <div class="col-md-12" *ngIf="isError==true">
                    <div class="form-group">
                        <label class="text-danger"> {{Errormsg}}</label>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="iscaptcha=='1'">
                    <div class="form-group">
                        <re-captcha name="resolved" (resolved)="resolved($event)" required siteKey="6Lc2-l4UAAAAAN8mmuWceB_l8vYl7_dC3mpg36bX"></re-captcha>
                    </div>
                </div>

                <div class="col-md-12">
                    <button type="button"  *ngIf="isvalidateemail==true" (click)="OnSubmit(registerForm)" class="btn btn-buy mr-15 w-auto mb-10">Submit</button>
                </div>
                <div class="col-md-12">
                  {{Noteforcustomer}}
                </div>
            </div>
            <!-- modal -->
            <!-- <div class="add-to-cart">
              <div class="modal-overlay" [ngClass]="{'active': addresspop=='1'}">
                <div class="modal" [ngClass]="{'active': addresspop=='1'}">
                  <div class="modal-content address-modal-content">
                    <div class="box-cart-left">
                      <h5 class="font-md-bold mb-10 text-start">Select Address</h5>
                      <div class="row align-items-center">
                        <div class="col-lg-8">
                          <div class="form-group">
                            <ul>
                              <li *ngFor="let address of addressList; let i = index">
                                <div class="row">
                                  <div class="col-md-1">
                                    <input type="radio" name="selectedAddress" [value]="getAddressIdentifier(address)"
                                      [(ngModel)]="selectedAddress">
                                  </div>
                                  <div class="col-md-5">
                                    <p>{{ address.AddressKeyFormat.AddressLine }}</p>
                                    <p>{{ address.AddressKeyFormat.PoliticalDivision2 }}, {{
                                      address.AddressKeyFormat.PoliticalDivision1 }}</p>
                                    <p>{{ address.AddressKeyFormat.PostcodePrimaryLow }}-{{
                                      address.AddressKeyFormat.PostcodeExtendedLow }}</p>
                                    <p>{{ address.AddressKeyFormat.CountryCode }}</p>
                                  </div>
                                </div><br>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-12 text-end">
                          <a class="btn btn-buy w-auto mb-10" (click)="SelectAddress()">Select</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- modal -->
        </form>
       
        <!-- </div> -->
    </div>
    <!-- </div> -->
</section>




<!-- <form class="form-white-full" *ngIf="isShowForm" #registerForm="ngForm" novalidate (ngSubmit)="OnSubmit(registerForm)">
        <div class="col-md-12 contact-form">
            <div class="row">
          <div class="col-md-12 contact-title">
            
            <h1>{{RegistrationLable}}</h1>
          </div>
          <div class="col-md-12">
            <label class="text-danger">All fields marked with an asterisk (*) must be completed</label>
          </div>
            </div>
          <div class="row">
            
            <div class="col-md-12" *ngIf="IsMultiCompanySetting=='1'">
              <div class="form-group">
                <label class="info-title">Select Company
                </label><span>*</span>
                <select class="form-control unicase-form-control text-input" [(ngModel)]='company' #shipTo="ngModel"
                  (change)="companychange($event.target.value)" required name="shipTo">
                  <option value="0">Select Company</option>
                  <option *ngFor="let sycp of AllCompaniesList" [value]="sycp.company_sy">{{sycp.name}}</option>
                </select>
              </div>
            </div>
          <div class="col-12 col-md-4 ">
            <div class="form-group">
              <label class="info-title">First Name</label><span>*</span>
              <input type="text"  class="form-control unicase-form-control text-input" #FirstName="ngModel" id="userFirstName" [(ngModel)]="user.FirstName"
                name="FirstName" autocomplete="off" [maxlength]="40" required>
              <span *ngIf="isFirstValidation" class="text-danger">
                Firstname is required
              </span>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="info-title">Last Name</label><span>*</span>
              <input type="text" autocomplete="off" [maxlength]="40" class="form-control unicase-form-control text-input" #LastName="ngModel" id="userLastName" [(ngModel)]="user.LastName" name="LastName"
                required>
              <span *ngIf="isLastValidation" class="text-danger">
                LastName is required
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="info-title">Suffix
              </label>
              <input type="text" autocomplete="off" [maxlength]="40" class="form-control unicase-form-control text-input" #Suffix="ngModel" [(ngModel)]="user.Suffix" name="Suffix">
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="info-title">Company/Full Name </label><span>*</span>
              <input type="text" autocomplete="off" [maxlength]="40" class="form-control unicase-form-control text-input" #Company="ngModel" id="userCompany" [(ngModel)]="user.Company" name="Company"
                required>
                <span *ngIf="isCompanyValidation" class="text-danger">
                  Company name is required
                </span>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="col-md-12" *ngIf="isaddressparse=='1'">
          <div class="form-group">
            <label class="info-title">Please Copy your address here</label><a class="btn btn-success btnparse"
            (click)="addreparser()">Parse</a>          
            <textarea class="form-control unicase-form-control text-input" id="addressparser"  
            [maxlength]="32000"  [(ngModel)]='user.addressparser' (change)="addreparser()" [ngModelOptions]="{standalone:true}"></textarea>
          </div>
        </div>
        
      </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="info-title">Address 1</label><span>*</span>
              <input type="text" id="Address1" autocomplete="off" [maxlength]=addr1val class="form-control unicase-form-control text-input" #Address1="ngModel" [(ngModel)]="user.Address1" name="Address1" required>              
              <span *ngIf="isAddressValidation" class="text-danger">
                Address is required
              </span>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="info-title">Address 2</label>
              <input type="text" autocomplete="off" [maxlength]=addr2val class="form-control unicase-form-control text-input" #Address2="ngModel" [(ngModel)]="user.Address2" name="Address2" id="Address2" required>              
              
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="form-group">
                  <label class="info-title">City</label><span>*</span>
                  <input type="text" autocomplete="off" [maxlength]=addr3val class="form-control unicase-form-control text-input" #City="ngModel" [(ngModel)]="user.City" name="City" id="City" required>
                  <span *ngIf="isCityValidation" class="text-danger">
                    City is required
                  </span>
                </div>
              </div>
          
          <div class="col-12 col-md-4"> 
            <div class="form-group">
              <label class="info-title">State</label><span>*</span>
              <select *ngIf="isstateshow==true" class="form-control unicase-form-control text-input ng-untouched ng-pristine ng-valid h40" (change)="onStateChange($event.target.value)"
                [ngModelOptions]="{standalone:true}" [(ngModel)]='user.selectedState' id="State">
                <option value="0">Select State</option>
                <option *ngFor="let state of stateList" [value]="state.state">
                  {{state.descr}}
                </option>
              </select>
              <input type="text" *ngIf="isstateshow==false" autocomplete="off" class="form-control unicase-form-control" #selectedState="ngModel" [(ngModel)]="user.selectedState" name="selectedState">
              <span *ngIf="isStateValidation" class="text-danger">
                State is required
              </span>
            </div>
          </div>
        </div>
        <div class="row">
            
          <div class="col-12 col-md-4" *ngIf="showProvince && showprovince=='1'">
            <div class="form-group">
              <label class="info-title">Province
              </label>
              <input type="text" autocomplete="off" class="form-control unicase-form-control" #Province="ngModel" [(ngModel)]="user.Province" name="Province">
              
            </div>
          </div>
          <div class="col-12 col-md-4">
              <div class="form-group">
                  <label class="info-title">Postal Code</label><span>*</span>
                <input type="text" autocomplete="off" class="form-control unicase-form-control" 
                [maxlength]=20 #PostalCode="ngModel" [(ngModel)]="user.PostalCode" id="PostalCode" name="PostalCode" required>
                <span *ngIf="isPostalCodeValidation" class="text-danger">
                  Postal code is required
                </span>
              </div>
            </div>
        </div>
        
          <div class="row">
              <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="info-title">Country/Region</label><span>*</span>
                    <select [ngModelOptions]="{standalone:true}" [(ngModel)]='user.selectedCountry' class="form-control unicase-form-control text-input ng-untouched ng-pristine ng-valid h40"
                      (change)="onCountryChange($event.target.value)">
                      <option *ngFor="let country of countryList" [value]="country.country_code">
                        {{country.country_descr}}
                      </option>
                    </select>
                  </div>
                </div>
  
          <div class="col-12 col-md-4">
            <div class="form-group" style="margin-top: 10px;">
                <label class="info-title">Residential<br>
                  </label>  
              <input style="position: relative;top: 2px;" type="checkbox" #Residential="ngModel" [(ngModel)]="user.Residential" name="Residential"> 
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="form-group">
                  <label class="info-title">Phone</label><span>*</span>
                  <input type="text" autocomplete="off" class="form-control unicase-form-control" [maxlength]=phoneval #Phone="ngModel" id="userPhone" [(ngModel)]="user.Phone" name="Phone" maxlength="10" required>
                  <span *ngIf="isPhoneValidation" class="text-danger">
                    Phone is required
                  </span>
                </div>
              </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="info-title">Phone Ext
              </label>
              <input type="text" autocomplete="off" class="form-control unicase-form-control" #PhoneExt="ngModel" [(ngModel)]="user.PhoneExt" name="PhoneExt"
                maxlength="10">
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="info-title">Fax
              </label>
              <input type="text" autocomplete="off" class="form-control unicase-form-control" #Fax="ngModel" [maxlength]="12" [(ngModel)]="user.Fax" name="Fax">
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="info-title">Email Address</label><span>*</span>
              <input type="text" autocomplete="off" class="form-control unicase-form-control" [maxlength]="250" (blur)="checkemail()" #EmailAddress="ngModel" id="userEmailAddress" [(ngModel)]="user.EmailAddress" name="EmailAddress"
                required>
              <span *ngIf="isEmailrCodeValidation" class="text-danger">
                Email address is required
              </span>
              <span *ngIf="isEmailValidation" class="text-danger">
                Email is not Valid
              </span>
            </div>
          </div>
          <div class="col-12 col-md-4" *ngIf="addb2bfields=='1'">
            <div class="form-group">
              <label class="info-title">Tax Id No.</label>
              <input type="text" autocomplete="off" class="form-control unicase-form-control" [maxlength]="250"  
              #tax_id="ngModel" [(ngModel)]="user.tax_id" name="tax_id">              
            </div>
          </div>
          <div class="col-12 col-md-4" *ngIf="addb2bfields=='1'">
            <div class="form-group">
              <label class="info-title">Retailer?</label>
              <input id="chkbox"                    
                    style="position: relative;top: 30px;left: -50px;margin: 0px 0px 50px 5px;" 
                    type="checkbox" #IsRetailer="ngModel"                     
                    class="checkout-box"
              [(ngModel)]="user.IsRetailer" name="IsRetailer">
            </div>
          </div>
          <div class="col-12 col-md-4" *ngIf="addb2bfields=='1'">
            <div class="form-group">
              <label class="info-title">Signature</label>
              <input type="text" autocomplete="off" class="form-control unicase-form-control" [maxlength]="250"  
              #Signature="ngModel" [(ngModel)]="user.Signature" name="Signature">              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
               <label class="info-title">Password</label><span>*</span>   
               <table id="passwordtable">
                <tr>
                  <td>
              <input [type]="hide ? 'password' : 'text'" autocomplete="off" class="form-control unicase-form-control" [maxlength]="250" #Password="ngModel" id="userPassword" [(ngModel)]="user.Password" name="Password"
              required>
              </td>
              <td>
               <i class="fa fa-eye" style="font-size: 16px;" (click)="hide = !hide" *ngIf="!hide"  aria-hidden="true"></i>
               <i class="fa fa-eye-slash" style="font-size: 16px;" (click)="hide = !hide" *ngIf="hide" aria-hidden="true"></i>
              </td>
              </tr>
              </table>           
              <!-- <input type="password" autocomplete="off" class="form-control unicase-form-control" [maxlength]="250" #Password="ngModel" id="userPassword" [(ngModel)]="user.Password" name="Password"
                required> --
                
              <span *ngIf="isPasswordCodeValidation" class="text-danger">
                Password is required
              </span>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="info-title">Confirm Password</label><span>*</span>
              <table id="passwordtable">
                <tr>
                  <td>
              <input [type]="hide1 ? 'password' : 'text'" autocomplete="off" class="form-control unicase-form-control" [maxlength]="250" #ConfirmPassword="ngModel" id="userConfirmPassword" [(ngModel)]="user.ConfirmPassword"
              name="ConfirmPassword" required validateEqual="Password" reverse="false">
              </td>
              <td>
               <i class="fa fa-eye" style="font-size: 16px;" (click)="hide1 = !hide1" *ngIf="!hide1"  aria-hidden="true"></i>
               <i class="fa fa-eye-slash" style="font-size: 16px;" (click)="hide1 = !hide1" *ngIf="hide1" aria-hidden="true"></i>
              </td>
              </tr>
              </table>           
              <!-- <input type="password" autocomplete="off" class="form-control unicase-form-control" [maxlength]="250" #ConfirmPassword="ngModel" id="userConfirmPassword" [(ngModel)]="user.ConfirmPassword"
                name="ConfirmPassword" required validateEqual="Password" reverse="false"> --
              <span *ngIf="confirmPass" class="text-danger">
                Password mismatch
              </span>
            </div>  
          </div>
        </div>
        <div class="col-md-12" *ngIf="isError==true">
          <div class="form-group">
            <label class="text-danger"> {{Errormsg}}</label>
          </div>
        </div>
        <div class="col-md-12" *ngIf="iscaptcha=='1'">
          <div class="form-group">
      <re-captcha name="resolved" (resolved)="resolved($event)" required siteKey="6Lc2-l4UAAAAAN8mmuWceB_l8vYl7_dC3mpg36bX"></re-captcha>
      <!--live -->
<!-- <re-captcha name="resolved" (resolved)="resolved($event)" required siteKey="6LfA-14UAAAAAPAhAS0ULME3IatKB0Y9jwFvTK2u"></re-captcha> -->
<!-- //localhost --
          </div>
          </div>
        <div class="row">
          <div class="col-md-12 outer-bottom-small m-t-20">
            <button type="button" *ngIf="isvalidateemail==true" (click)="OnSubmit(registerForm)" class="btn-upper btn btn-primary checkout-page-button">Submit</button>
          </div>
        </div>
        </div>
      </form>
      <div *ngIf="isShowMsg" class="b2bmsg">
        <h4> {{returnmsg}}. Go to
          <a [routerLink]="['/login']" class="greencolor">Login</a>
        </h4>
      </div> -->